.d-flex {
  scroll-behavior: smooth;  /* เลื่อนนุ่ม ๆ */
}

.d-flex::-webkit-scrollbar {
  display: none; /* ซ่อน scrollbar */
}

.card {
    width: 12rem; 
    height: 17rem; 
    overflow: hidden; 
    margin-right: 1rem; 
    position: relative;
}

.id-card{
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    padding: 2px 6px;
    border-radius: 6px;
}